body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.h2{
    font-size: 40px;
}
p{
    color: slategrey;
}
.orange-highlight{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 500px;
    margin-top: 30px;
}
#background-img{
    background-image:url("Images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 600px;
    padding-bottom: 100px;
}
.button{
    text-decoration: none;
    background-image:linear-gradient(45deg,lightSalmon,tomato);
    padding: 7px 20px;
    border-radius: 3px;
    color: white;
    font-size: 20px;
    font-weight: 700;

}
#background-img2{
    background-image:url(Images/dream-bg.png) ;
    background-repeat: no-repeat;
    background-position: right;
}
.single-exprience{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 50%;
    margin-left: 69px;
    background-color: white;

}
.exprience-area{
    background-image: url(Images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    position: absolute;
    z-index:1;
    overflow: hidden;
    padding-bottom: 0px;

}
#Full-Stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg ,lightSalmon,tomato);
    border-image-slice: 1;
}
#Baby-Web{
    
    border-left: 7px solid;
    border-image: linear-gradient(180deg,blue,cyan);
    border-image-slice: 1;
}